# Frontend Environment Variables
# Copy to .env.local and fill in values

NEXT_PUBLIC_API_URL=http://localhost:3001

NEXT_PUBLIC_VYZORA_KEY=Your project key if needed
NEXT_PUBLIC_VYZORA_ENABLED=true

RECIPIENT_EMAIL=your email
SENDGRID_API_KEY=your sendgrid api key
FROM_EMAIL=your receiver email